body {
    font-family: Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 13px !important;
    line-height: 20px !important;
}

a {
    &:link,
    &:visited {
        color: #65757d;
    }
}

/*
---------------------------------------------------------------
    Header
---------------------------------------------------------------
*/

#header {
    height: 42px;
    background-color: #475157;
    .logo {
        margin-left: 10px;
    }
}

#jenkins-home-link {
    height: 42px;
}

#jenkins-head-icon {
    left: 10px;
}

#jenkins-name-icon {
    display: none;
}

/*
---------------------------------------------------------------
    Search Field
---------------------------------------------------------------
*/

#header .searchbox {
    padding-top: 9px;
}

#search-box {
    border-radius: 12px;
    background-image: none;
    padding-left: 12px;
}

/*
---------------------------------------------------------------
    Breadcrumb
---------------------------------------------------------------
*/

body #breadcrumbs {
    background: #606b71 !important;
    color: #fff;
}

body #breadcrumbs li,
body #breadcrumbs li a,
body #breadcrumbs li a:link,
body #breadcrumbs li a:visited {
    color: #fff;
}

body #breadcrumbs li:hover a,
body #breadcrumbs li:hover a:link,
body #breadcrumbs li:hover a:visited,
body #breadcrumbs li a.mouseIsOverMenuSelector {
    color: #606b71;
}

#right-top-nav a {
    color: #fff !important;
}

/*
---------------------------------------------------------------
    Panes, Sidebar
---------------------------------------------------------------
*/

.pane-frame {
    border: 1px solid #e3e7e9;
    border-color: #e3e7e9 #b7c3cb #b7c3cb #e3e7e9;
}

.pane-header {
    background-color: #EFF3F6;
}

/*
---------------------------------------------------------------
    Status Icons
---------------------------------------------------------------
*/

#projectstatus tr[class*="job-status"] td:first-child img {
    display: none;
}

#projectstatus tr[class*="job-status"] td:first-child {
    width: 40px;
}

#projectstatus tr[class*="job-status"] td:first-child:before {
    content: '';
    width: 26px;
    height: 26px;
    display: block;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#projectstatus tr[class*="-anime"] td:first-child:before {
    animation: in-progress-animation 1.3s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes in-progress-animation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

/* Green */
#projectstatus tr td[data="4"]:before,
#projectstatus tr.job-status-blue td:first-child:before,
#projectstatus tr.job-status-blue-anime td:first-child:before {
    background: #397439;
    background-image: -moz-radial-gradient(3px 3px 45deg, circle cover, #72d472 0%, #397439 100%);
    background-image: -webkit-radial-gradient(3px 3px, circle cover, #72d472, #397439);
    background-image: radial-gradient(circle at 3px 3px, #72d472 0%, #397439 100%);
}

/* Red */
#projectstatus tr td[data="0"]:before,
#projectstatus tr.job-status-red td:first-child:before,
#projectstatus tr.job-status-red-anime td:first-child:before {
    background: #ac2925;
    background-image: -moz-radial-gradient(3px 3px 45deg, circle cover, #d9534f 0%, #ac2925 100%);
    background-image: -webkit-radial-gradient(3px 3px, circle cover, #d9534f, #ac2925);
    background-image: radial-gradient(circle at 3px 3px, #d9534f 0%, #ac2925 100%);
}

/* Yellow */
#projectstatus tr td[data="2"]:before,
#projectstatus tr.job-status-yellow td:first-child:before,
#projectstatus tr.job-status-yellow-anime td:first-child:before {
    background: #f0ad4e;
    background-image: -moz-radial-gradient(3px 3px 45deg, circle cover, #f0ad4e 0%, #d58512 100%);
    background-image: -webkit-radial-gradient(3px 3px, circle cover, #f0ad4e, #d58512);
    background-image: radial-gradient(circle at 3px 3px, #f0ad4e 0%, #d58512 100%);
}

/* Gray */
#projectstatus tr.job-status-disabled td:first-child:before,
#projectstatus tr.job-status-aborted td:first-child:before,
#projectstatus tr.job-status-nobuilt td:first-child:before,
#projectstatus tr.job-status-disabled-anime td:first-child:before,
#projectstatus tr.job-status-aborted-anime td:first-child:before,
#projectstatus tr.job-status-nobuilt-anime td:first-child:before {
    background: #999;
    background-image: -moz-radial-gradient(3px 3px 45deg, circle cover, #ccc 0%, #999 100%);
    background-image: -webkit-radial-gradient(3px 3px, circle cover, #ccc, #999);
    background-image: radial-gradient(circle at 3px 3px, #ccc 0%, #999 100%);
}

/*
---------------------------------------------------------------
    Progress Bar
---------------------------------------------------------------
*/

table.progress-bar {
    border: 1px solid #606b71;
}

td.progress-bar-done {
    background-color: #606b71;
}

/*
---------------------------------------------------------------
    Tables
---------------------------------------------------------------
*/

.bigtable th {
    background-color: #EFF3F6;
}

/*
---------------------------------------------------------------
    Tabs
---------------------------------------------------------------
*/

.tabBar [type=radio]:checked ~ a {
    background-color: #EFF3F6;
}

/*
---------------------------------------------------------------
    Buttons
---------------------------------------------------------------
*/

#jenkins .yui-button button {
    background-color: #E2E9ED;
    color: #606B72;
    padding: 6px 18px;
    font-size: 14px;
    border: 0 !important;
    transition: background-color 100ms linear;
}

#jenkins .yui-button button:hover,
#jenkins .yui-button button:active {
    background-color: #c3d1d9;
    box-shadow: none;
}

#jenkins .yui-button.primary button {
    background-color: #F79223;
    color: #fff;
}

#jenkins .yui-button.primary button:hover,
#jenkins .yui-button.primary button:active {
    background-color: #df7908;
    box-shadow: none;
}

/*
---------------------------------------------------------------
    Footer
---------------------------------------------------------------
*/

footer,
#footer-container {
    background-color: #EFF3F6;
}
